html, main{
    background: #0dd4b6;
}

body{
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

#statusFormDiv, #statusList{
    background: white;
}

#statusMessage, #editedText{
    resize: none;
}