html, main, #userNav{
    background: #0dd4b6;
}

#addSpace{
    height: 30px;
}

.media:last-child{
    border-bottom: none !important;
}

#statusFormDiv, #statusList{
    background: white;
}

#statusArea, #editedText{
    resize: none;
}

.nav-link:hover{
    transition: 0.4s;
    opacity: 0.75;
}