html, main, #userNav{
    background: #0dd4b6;
}

.media{
    border-bottom: none !important;
}

#statusList{
    background: white;
}

#editedText{
    resize: none;
}

.nav-link:hover{
    transition: 0.4s;
    opacity: 0.75;
}