html, main, #userNav{
    background: #0dd4b6;
}

.media{
    transition: 0.5s;
    border-bottom: none !important;
}

.media:hover{
    transition: 0.5s;
    background: rgb(236, 236, 236);
}

#statusList{
    background: white;
}

#editedText{
    resize: none;
}

#userTitle, .nav-link{
    transition: 0.4s;
}

#userTitle:hover, .nav-link:hover{
    transition: 0.4s;
    opacity: 0.75;
}